.card {
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
}
.image.is-240xauto {
  height: 117.95px !important;
}
.column.is-half,
.column.is-half-tablet {
  flex: none;
  width: 50%;
}
.column.is-two-fifths,
.column.is-two-fifths-tablet {
  flex: none;
  width: 40%;
}
.column.is-one-third,
.column.is-one-third-tablet {
  flex: none;
  width: 33.3333%;
}
.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}
.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.card-header-title.is-centered {
  justify-content: center;
}
.image.is-full {
  width: 100%;
  height: 100%;
}
.image.is-110x110 {
  width: 110px;
  height: 110px;
}
.image.is-480x480 {
  width: 360px;
  height: 360px;
}
.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}
.card-image {
  display: block;
  position: relative;
}
.card-content {
  background-color: transparent;
  padding: 1.5rem;
}
.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}
.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid #ededed;
}
.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}
.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}
.media .content:not(:last-child) {
  margin-bottom: 0.75rem;
}
.media .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  display: flex;
  padding-top: 0.75rem;
}
.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}
.media .media .content:not(:last-child),
.media .media .control:not(:last-child) {
  margin-bottom: 0.5rem;
}
.media .media .media {
  padding-top: 0.5rem;
}
.media .media .media + .media {
  margin-top: 0.5rem;
}
.media + .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem;
}
.media.is-large + .media {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.media-left {
  margin-right: 1rem;
}
.media-right {
  margin-left: 1rem;
}
.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit;
}
@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto;
  }
}
.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: 100%;
  width: 100%;
}
.image img.is-rounded {
  border-radius: 290486px;
}
.image.is-fullwidth {
  width: 100%;
}
.image.is-16by9 .has-ratio,
.image.is-16by9 img,
.image.is-1by1 .has-ratio,
.image.is-1by1 img,
.image.is-1by2 .has-ratio,
.image.is-1by2 img,
.image.is-1by3 .has-ratio,
.image.is-1by3 img,
.image.is-2by1 .has-ratio,
.image.is-2by1 img,
.image.is-2by3 .has-ratio,
.image.is-2by3 img,
.image.is-3by1 .has-ratio,
.image.is-3by1 img,
.image.is-3by2 .has-ratio,
.image.is-3by2 img,
.image.is-3by4 .has-ratio,
.image.is-3by4 img,
.image.is-3by5 .has-ratio,
.image.is-3by5 img,
.image.is-4by3 .has-ratio,
.image.is-4by3 img,
.image.is-4by5 .has-ratio,
.image.is-4by5 img,
.image.is-5by3 .has-ratio,
.image.is-5by3 img,
.image.is-5by4 .has-ratio,
.image.is-5by4 img,
.image.is-9by16 .has-ratio,
.image.is-9by16 img,
.image.is-square .has-ratio,
.image.is-square img {
  height: 100%;
  width: 100%;
}
.column.is-one-fifth,
.column.is-one-fifth-tablet {
  flex: none;
  width: 20%;
}
.columns.is-mobile > .column.is-one-quarter {
  flex: none;
  width: 25%;
}
.hero-video,
.image.is-16by9 .has-ratio,
.image.is-16by9 img,
.image.is-1by1 .has-ratio,
.image.is-1by1 img,
.image.is-1by2 .has-ratio,
.image.is-1by2 img,
.image.is-1by3 .has-ratio,
.image.is-1by3 img,
.image.is-2by1 .has-ratio,
.image.is-2by1 img,
.image.is-2by3 .has-ratio,
.image.is-2by3 img,
.image.is-3by1 .has-ratio,
.image.is-3by1 img,
.image.is-3by2 .has-ratio,
.image.is-3by2 img,
.image.is-3by4 .has-ratio,
.image.is-3by4 img,
.image.is-3by5 .has-ratio,
.image.is-3by5 img,
.image.is-4by3 .has-ratio,
.image.is-4by3 img,
.image.is-4by5 .has-ratio,
.image.is-4by5 img,
.image.is-5by3 .has-ratio,
.image.is-5by3 img,
.image.is-5by4 .has-ratio,
.image.is-5by4 img,
.image.is-9by16 .has-ratio,
.image.is-9by16 img,
.image.is-square .has-ratio,
.image.is-square img,
.is-overlay,
.modal,
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.image.is-4by3 {
  padding-top: 60%;
  height: auto;
}
.columns.is-multiline {
  flex-wrap: wrap;
}
.columns.is-mobile > .column.is-narrow {
  flex: none;
}
@media screen and (max-width: 768px) {
  .column.is-narrow-mobile {
    flex: none;
  }
}
.column.is-one-quarter,
.column.is-one-quarter-tablet {
  flex: none;
  width: 25%;
}
.columns.is-mobile > .column.is-one-quarter {
  flex: none;
  width: 25%;
}
@media screen and (min-width: 769px), print {
  .column.is-narrow,
  .column.is-narrow-tablet {
    flex: none;
  }
}
.columns.is-mobile > .column.is-narrow {
  flex: none;
}
.hover-008489:hover .makeme-white {
  color: white;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
.image.is-1by1,
.image.is-square {
  padding-top: 100%;
}
.is-mobile > .column.is-1 {
  flex: none;
  width: 8.33333%;
}
.is-mobile > .column.is-offset-1 {
  margin-left: 8.33333%;
}
.is-mobile > .column.is-2 {
  flex: none;
  width: 16.66667%;
}
.is-mobile > .column.is-offset-2 {
  margin-left: 16.66667%;
}
.is-mobile > .column.is-3 {
  flex: none;
  width: 25%;
}
.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.image.is-5by4 {
  padding-top: 80%;
}
.image.is-3by2 {
  padding-top: 66.6666%;
}
.image.is-5by3 {
  padding-top: 60%;
}
.image.is-16by9 {
  padding-top: 56.25%;
}
.image.is-2by1 {
  padding-top: 50%;
}
.image.is-3by1 {
  padding-top: 33.3333%;
}
.image.is-4by5 {
  padding-top: 125%;
}
.image.is-3by4 {
  padding-top: 133.3333%;
}
.image.is-2by3 {
  padding-top: 150%;
}
.image.is-3by5 {
  padding-top: 166.6666%;
}
.image.is-9by16 {
  padding-top: 177.7777%;
}
.image.is-1by2 {
  padding-top: 200%;
}
.image.is-1by3 {
  padding-top: 300%;
}
.image.is-16x16 {
  height: 16px;
  width: 16px;
}
.image.is-20x20 {
  height: 20px;
  width: 20px;
}
.image.is-24x24 {
  height: 24px;
  width: 24px;
}
.image.is-32x32 {
  height: 32px;
  width: 32px;
}
.is-32x32 {
  height: 32px;
  width: 32px;
}
.is-28x28 {
  height: 28px;
  width: 28px;
}
.is-36x36 {
  height: 36px;
  width: 36px;
}
.w512max {
  max-width: 600px !important;
}
.image.is-36x36 {
  height: 36px;
  width: 36px;
}
.is-34x34 {
  height: 34px;
  width: 34px;
}
.image.is-34x34 {
  height: 34px;
  width: 34px;
}
.image.is-content {
  width: 100%;
  max-height: 460px;
}
.image.is-content img {
  max-height: 460px;
}
.image.is-40x40 {
  height: 40px;
  width: 40px;
}
.is-max {
  max-width: 128px;
  height: auto;
}
.lineh {
  line-height: 1.69rem;
}
.shadowing {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.fbcolor {
  color: #3b5998 !important;
}
.twi {
  color: #1da1f2 !important;
}
.pinter {
  color: #e60023 !important;
}
.mail {
  color: #505050 !important;
}
.image.is-image {
  width: 420px;
  max-height: 420px;
}
.image.is-images {
  width: 512px !important;
  height: 512px !important;
}
.zoomin {
  cursor: zoom-in;
}
.w480 {
  width: 600px;
  right: -610px !important;
}
.h384 {
  height: 480px;
}
.imagemax {
  max-width: 420px !important;
  height: 420px !important;
}
.imagemaxes {
  width: auto !important;
  height: 100% !important;
}
.is-40x40 {
  height: 40px;
  width: 40px;
}
.image.is-44x44 {
  height: 44px;
  width: 44px;
}
.image.is-max600 {
  max-width: 600px;
}
.image.is-48x48 {
  height: 48px;
  width: 48px;
}
.image.is-52x52 {
  height: 52px;
  width: 52px;
}
.image.is-64x64 {
  height: 64px;
  width: 64px;
}
.image.is-96x96 {
  height: 96px;
  width: 96px;
}
.image.is-240x200 {
  width: auto !important;
  height: 180px !important;
}
.image.is-240x200ss {
  width: 240px !important;
  height: 180px !important;
}
.image.is-240x200sse {
  width: 160px !important;
  height: auto !important;
}
.is-240x200 {
  width: 240px !important;
  height: 180px !important;
}

.image.isx {
  width: 240px !important;
  height: 180px !important;
}
.isx {
  width: 240px !important;
  height: 180px !important;
}

.is-240x200s {
  width: 420px !important;
  height: auto !important;
}
.image.is-128x128 {
  height: 128px !important;
  min-width: 128px !important;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
.button strong {
  color: inherit;
}
.button .icon,
.button .icon.is-large,
.button .icon.is-medium,
.button .icon.is-small {
  height: 1.5em;
  width: 1.5em;
}
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}
.button .icon:last-child:not(:first-child) {
  margin-left: 0.25em;
  margin-right: calc(-0.5em - 1px);
}
.button .icon:first-child:last-child {
  margin-left: calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}

.button.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
}
.button.is-text.is-focused,
.button.is-text.is-hovered,
.button.is-text:focus,
.button.is-text:hover {
  background-color: #f5f5f5;
  color: #363636;
}
.button.is-text.is-active,
.button.is-text:active {
  background-color: #e8e8e8;
  color: #363636;
}
.button.is-text[disabled],
fieldset[disabled] .button.is-text {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white.is-hovered,
.button.is-white:hover {
  background-color: #f9f9f9;
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white.is-focused,
.button.is-white:focus {
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white.is-focused:not(:active),
.button.is-white:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.button.is-white.is-active,
.button.is-white:active {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white[disabled],
fieldset[disabled] .button.is-white {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
}
.button.is-white.is-inverted {
  background-color: #0a0a0a;
  color: #fff;
}
.button.is-white.is-inverted.is-hovered,
.button.is-white.is-inverted:hover {
  background-color: #000;
}
.button.is-white.is-inverted[disabled],
fieldset[disabled] .button.is-white.is-inverted {
  background-color: #0a0a0a;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
}
.button.is-white.is-loading::after {
  border-color: transparent transparent #0a0a0a #0a0a0a;
}
.button.is-white.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-white.is-outlined.is-focused,
.button.is-white.is-outlined.is-hovered,
.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0a0a0a;
}
.button.is-white.is-outlined.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-white.is-outlined.is-loading.is-focused::after,
.button.is-white.is-outlined.is-loading.is-hovered::after,
.button.is-white.is-outlined.is-loading:focus::after,
.button.is-white.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #0a0a0a #0a0a0a;
}
.button.is-white.is-outlined[disabled],
fieldset[disabled] .button.is-white.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-white.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #0a0a0a;
  color: #0a0a0a;
}
.button.is-white.is-inverted.is-outlined.is-focused,
.button.is-white.is-inverted.is-outlined.is-hovered,
.button.is-white.is-inverted.is-outlined:focus,
.button.is-white.is-inverted.is-outlined:hover {
  background-color: #0a0a0a;
  color: #fff;
}
.button.is-white.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-white.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-white.is-inverted.is-outlined.is-loading:focus::after,
.button.is-white.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-white.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-white.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #0a0a0a;
  box-shadow: none;
  color: #0a0a0a;
}
.button.is-black {
  background-color: #0a0a0a;
  border-color: transparent;
  color: #fff;
}
.button.is-black.is-hovered,
.button.is-black:hover {
  background-color: #040404;
  border-color: transparent;
  color: #fff;
}
.button.is-black.is-focused,
.button.is-black:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-black.is-focused:not(:active),
.button.is-black:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}
.button.is-black.is-active,
.button.is-black:active {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}
.button.is-black[disabled],
fieldset[disabled] .button.is-black {
  background-color: #0a0a0a;
  border-color: transparent;
  box-shadow: none;
}
.button.is-black.is-inverted {
  background-color: #fff;
  color: #0a0a0a;
}
.button.is-black.is-inverted.is-hovered,
.button.is-black.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-black.is-inverted[disabled],
fieldset[disabled] .button.is-black.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #0a0a0a;
}
.button.is-black.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-black.is-outlined {
  background-color: transparent;
  border-color: #0a0a0a;
  color: #0a0a0a;
}
.button.is-black.is-outlined.is-focused,
.button.is-black.is-outlined.is-hovered,
.button.is-black.is-outlined:focus,
.button.is-black.is-outlined:hover {
  background-color: #0a0a0a;
  border-color: #0a0a0a;
  color: #fff;
}
.button.is-black.is-outlined.is-loading::after {
  border-color: transparent transparent #0a0a0a #0a0a0a;
}
.button.is-black.is-outlined.is-loading.is-focused::after,
.button.is-black.is-outlined.is-loading.is-hovered::after,
.button.is-black.is-outlined.is-loading:focus::after,
.button.is-black.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-black.is-outlined[disabled],
fieldset[disabled] .button.is-black.is-outlined {
  background-color: transparent;
  border-color: #0a0a0a;
  box-shadow: none;
  color: #0a0a0a;
}
.button.is-black.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-black.is-inverted.is-outlined.is-focused,
.button.is-black.is-inverted.is-outlined.is-hovered,
.button.is-black.is-inverted.is-outlined:focus,
.button.is-black.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #0a0a0a;
}
.button.is-black.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-black.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-black.is-inverted.is-outlined.is-loading:focus::after,
.button.is-black.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #0a0a0a #0a0a0a;
}
.button.is-black.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-black.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-light {
  background-color: #f5f5f5;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.has-light {
  background-color: #bebebe;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-hovered,
.button.is-light:hover {
  background-color: #eee;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-focused,
.button.is-light:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-focused:not(:active),
.button.is-light:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}
.button.is-light.is-active,
.button.is-light:active {
  background-color: #e8e8e8;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light[disabled],
fieldset[disabled] .button.is-light {
  background-color: #f5f5f5;
  border-color: transparent;
  box-shadow: none;
}
.button.is-light.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
}
.button.is-light.is-inverted.is-hovered,
.button.is-light.is-inverted:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-inverted[disabled],
fieldset[disabled] .button.is-light.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
  box-shadow: none;
  color: #f5f5f5;
}
.button.is-light.is-loading::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7);
}
.button.is-light.is-outlined {
  background-color: transparent;
  border-color: #f5f5f5;
  color: #f5f5f5;
}
.button.is-light.is-outlined.is-focused,
.button.is-light.is-outlined.is-hovered,
.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-outlined.is-loading::after {
  border-color: transparent transparent #f5f5f5 #f5f5f5;
}
.button.is-light.is-outlined.is-loading.is-focused::after,
.button.is-light.is-outlined.is-loading.is-hovered::after,
.button.is-light.is-outlined.is-loading:focus::after,
.button.is-light.is-outlined.is-loading:hover::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7);
}
.button.is-light.is-outlined[disabled],
fieldset[disabled] .button.is-light.is-outlined {
  background-color: transparent;
  border-color: #f5f5f5;
  box-shadow: none;
  color: #f5f5f5;
}
.button.is-light.is-inverted.is-outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light.is-inverted.is-outlined.is-focused,
.button.is-light.is-inverted.is-outlined.is-hovered,
.button.is-light.is-inverted.is-outlined:focus,
.button.is-light.is-inverted.is-outlined:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
}
.button.is-light.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-light.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-light.is-inverted.is-outlined.is-loading:focus::after,
.button.is-light.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #f5f5f5 #f5f5f5;
}
.button.is-light.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-light.is-inverted.is-outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
}
.button.is-dark.is-hovered,
.button.is-dark:hover {
  background-color: #2f2f2f;
  border-color: transparent;
  color: #fff;
}
.button.is-dark.is-focused,
.button.is-dark:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-dark.is-focused:not(:active),
.button.is-dark:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}
.button.is-dark.is-active,
.button.is-dark:active {
  background-color: #292929;
  border-color: transparent;
  color: #fff;
}
.button.is-dark[disabled],
fieldset[disabled] .button.is-dark {
  background-color: #363636;
  border-color: transparent;
  box-shadow: none;
}
.button.is-dark.is-inverted {
  background-color: #fff;
  color: #363636;
}
.button.is-dark.is-inverted.is-hovered,
.button.is-dark.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-dark.is-inverted[disabled],
fieldset[disabled] .button.is-dark.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #363636;
}
.button.is-dark.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-dark.is-outlined {
  background-color: transparent;
  border-color: #363636;
  color: #363636;
}
.button.is-dark.is-outlined.is-focused,
.button.is-dark.is-outlined.is-hovered,
.button.is-dark.is-outlined:focus,
.button.is-dark.is-outlined:hover {
  background-color: #363636;
  border-color: #363636;
  color: #fff;
}
.button.is-dark.is-outlined.is-loading::after {
  border-color: transparent transparent #363636 #363636;
}
.button.is-dark.is-outlined.is-loading.is-focused::after,
.button.is-dark.is-outlined.is-loading.is-hovered::after,
.button.is-dark.is-outlined.is-loading:focus::after,
.button.is-dark.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-dark.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-outlined {
  background-color: transparent;
  border-color: #363636;
  box-shadow: none;
  color: #363636;
}
.button.is-dark.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-dark.is-inverted.is-outlined.is-focused,
.button.is-dark.is-inverted.is-outlined.is-hovered,
.button.is-dark.is-inverted.is-outlined:focus,
.button.is-dark.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #363636;
}
.button.is-dark.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-dark.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-dark.is-inverted.is-outlined.is-loading:focus::after,
.button.is-dark.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #363636 #363636;
}
.button.is-dark.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
.button.is-primary.is-hovered,
.button.is-primary:hover {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}
.button.is-primary.is-focused,
.button.is-primary:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-primary.is-focused:not(:active),
.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
.button.is-primary.is-active,
.button.is-primary:active {
  background-color: #00b89c;
  border-color: transparent;
  color: #fff;
}
.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  box-shadow: none;
}
.button.is-primary.is-inverted {
  background-color: #fff;
  color: #00d1b2;
}
.button.is-primary.is-inverted.is-hovered,
.button.is-primary.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-primary.is-inverted[disabled],
fieldset[disabled] .button.is-primary.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #00d1b2;
}
.button.is-primary.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #008489;
  color: #008489;
}
.button.is-primary.is-outlined.is-focused,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
  border-color: #008489d7;
  color: #008489d7;
}
.button.is-primary.is-outlined.is-loading::after {
  border-color: transparent transparent #00d1b2 #00d1b2;
}
.button.is-primary.is-outlined.is-loading.is-focused::after,
.button.is-primary.is-outlined.is-loading.is-hovered::after,
.button.is-primary.is-outlined.is-loading:focus::after,
.button.is-primary.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #00d1b2;
  box-shadow: none;
  color: #00d1b2;
}
.button.is-primary.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-primary.is-inverted.is-outlined.is-focused,
.button.is-primary.is-inverted.is-outlined.is-hovered,
.button.is-primary.is-inverted.is-outlined:focus,
.button.is-primary.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #00d1b2;
}
.button.is-primary.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-primary.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-primary.is-inverted.is-outlined.is-loading:focus::after,
.button.is-primary.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #00d1b2 #00d1b2;
}
.button.is-primary.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-primary.is-light {
  background-color: #ebfffc;
  color: #00947e;
}
.button.is-primary.is-light.is-hovered,
.button.is-primary.is-light:hover {
  background-color: #defffa;
  border-color: transparent;
  color: #00947e;
}
.button.is-primary.is-light.is-active,
.button.is-primary.is-light:active {
  background-color: #d1fff8;
  border-color: transparent;
  color: #00947e;
}
.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
.button.is-link.is-hovered,
.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}
.button.is-link.is-focused,
.button.is-link:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-link.is-focused:not(:active),
.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button.is-link.is-active,
.button.is-link:active {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff;
}
.button.is-link[disabled],
fieldset[disabled] .button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  box-shadow: none;
}
.button.is-link.is-inverted {
  background-color: #fff;
  color: #3273dc;
}
.button.is-link.is-inverted.is-hovered,
.button.is-link.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-link.is-inverted[disabled],
fieldset[disabled] .button.is-link.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #3273dc;
}
.button.is-link.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}
.button.is-link.is-outlined.is-focused,
.button.is-link.is-outlined.is-hovered,
.button.is-link.is-outlined:focus,
.button.is-link.is-outlined:hover {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #fff;
}
.button.is-link.is-outlined.is-loading::after {
  border-color: transparent transparent #3273dc #3273dc;
}
.button.is-link.is-outlined.is-loading.is-focused::after,
.button.is-link.is-outlined.is-loading.is-hovered::after,
.button.is-link.is-outlined.is-loading:focus::after,
.button.is-link.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-link.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  box-shadow: none;
  color: #3273dc;
}
.button.is-link.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-link.is-inverted.is-outlined.is-focused,
.button.is-link.is-inverted.is-outlined.is-hovered,
.button.is-link.is-inverted.is-outlined:focus,
.button.is-link.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #3273dc;
}
.button.is-link.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-link.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-link.is-inverted.is-outlined.is-loading:focus::after,
.button.is-link.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #3273dc #3273dc;
}
.button.is-link.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-link.is-light {
  background-color: #eef3fc;
  color: #2160c4;
}
.button.is-link.is-light.is-hovered,
.button.is-link.is-light:hover {
  background-color: #e3ecfa;
  border-color: transparent;
  color: #2160c4;
}
.button.is-link.is-light.is-active,
.button.is-link.is-light:active {
  background-color: #d8e4f8;
  border-color: transparent;
  color: #2160c4;
}
.button.is-info {
  background-color: #3298dc;
  border-color: transparent;
  color: #fff;
}
.button.is-info.is-hovered,
.button.is-info:hover {
  background-color: #2793da;
  border-color: transparent;
  color: #fff;
}
.button.is-info.is-focused,
.button.is-info:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-info.is-focused:not(:active),
.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}
.button.is-info.is-active,
.button.is-info:active {
  background-color: #238cd1;
  border-color: transparent;
  color: #fff;
}
.button.is-info[disabled],
fieldset[disabled] .button.is-info {
  background-color: #3298dc;
  border-color: transparent;
  box-shadow: none;
}
.button.is-info.is-inverted {
  background-color: #fff;
  color: #3298dc;
}
.button.is-info.is-inverted.is-hovered,
.button.is-info.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-info.is-inverted[disabled],
fieldset[disabled] .button.is-info.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #3298dc;
}
.button.is-info.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #3298dc;
  color: #3298dc;
}
.button.is-info.is-outlined.is-focused,
.button.is-info.is-outlined.is-hovered,
.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
  background-color: #3298dc;
  border-color: #3298dc;
  color: #fff;
}
.button.is-info.is-outlined.is-loading::after {
  border-color: transparent transparent #3298dc #3298dc;
}
.button.is-info.is-outlined.is-loading.is-focused::after,
.button.is-info.is-outlined.is-loading.is-hovered::after,
.button.is-info.is-outlined.is-loading:focus::after,
.button.is-info.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-info.is-outlined[disabled],
fieldset[disabled] .button.is-info.is-outlined {
  background-color: transparent;
  border-color: #3298dc;
  box-shadow: none;
  color: #3298dc;
}
.button.is-info.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-info.is-inverted.is-outlined.is-focused,
.button.is-info.is-inverted.is-outlined.is-hovered,
.button.is-info.is-inverted.is-outlined:focus,
.button.is-info.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #3298dc;
}
.button.is-info.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-info.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-info.is-inverted.is-outlined.is-loading:focus::after,
.button.is-info.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #3298dc #3298dc;
}
.button.is-info.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-info.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-info.is-light {
  background-color: #eef6fc;
  color: #1d72aa;
}
.button.is-info.is-light.is-hovered,
.button.is-info.is-light:hover {
  background-color: #e3f1fa;
  border-color: transparent;
  color: #1d72aa;
}
.button.is-info.is-light.is-active,
.button.is-info.is-light:active {
  background-color: #d8ebf8;
  border-color: transparent;
  color: #1d72aa;
}
.button.is-success {
  background-color: #48c774;
  border-color: transparent;
  color: #fff;
}
.button.is-success.is-hovered,
.button.is-success:hover {
  background-color: #3ec46d;
  border-color: transparent;
  color: #fff;
}
.button.is-success.is-focused,
.button.is-success:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-success.is-focused:not(:active),
.button.is-success:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}
.button.is-success.is-active,
.button.is-success:active {
  background-color: #3abb67;
  border-color: transparent;
  color: #fff;
}
.button.is-success[disabled],
fieldset[disabled] .button.is-success {
  background-color: #48c774;
  border-color: transparent;
  box-shadow: none;
}
.button.is-success.is-inverted {
  background-color: #fff;
  color: #48c774;
}
.button.is-success.is-inverted.is-hovered,
.button.is-success.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-success.is-inverted[disabled],
fieldset[disabled] .button.is-success.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #48c774;
}
.button.is-success.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-success.is-outlined {
  background-color: transparent;
  border-color: #48c774;
  color: #48c774;
}
.button.is-success.is-outlined.is-focused,
.button.is-success.is-outlined.is-hovered,
.button.is-success.is-outlined:focus,
.button.is-success.is-outlined:hover {
  background-color: #48c774;
  border-color: #48c774;
  color: #fff;
}
.button.is-success.is-outlined.is-loading::after {
  border-color: transparent transparent #48c774 #48c774;
}
.button.is-success.is-outlined.is-loading.is-focused::after,
.button.is-success.is-outlined.is-loading.is-hovered::after,
.button.is-success.is-outlined.is-loading:focus::after,
.button.is-success.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-success.is-outlined[disabled],
fieldset[disabled] .button.is-success.is-outlined {
  background-color: transparent;
  border-color: #48c774;
  box-shadow: none;
  color: #48c774;
}
.button.is-success.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-success.is-inverted.is-outlined.is-focused,
.button.is-success.is-inverted.is-outlined.is-hovered,
.button.is-success.is-inverted.is-outlined:focus,
.button.is-success.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #48c774;
}
.button.is-success.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-success.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-success.is-inverted.is-outlined.is-loading:focus::after,
.button.is-success.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #48c774 #48c774;
}
.button.is-success.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-success.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-success.is-light {
  background-color: #effaf3;
  color: #257942;
}
.button.is-success.is-light.is-hovered,
.button.is-success.is-light:hover {
  background-color: #e6f7ec;
  border-color: transparent;
  color: #257942;
}
.button.is-success.is-light.is-active,
.button.is-success.is-light:active {
  background-color: #dcf4e4;
  border-color: transparent;
  color: #257942;
}
.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-hovered,
.button.is-warning:hover {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-focused,
.button.is-warning:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-focused:not(:active),
.button.is-warning:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}
.button.is-warning.is-active,
.button.is-warning:active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning[disabled],
fieldset[disabled] .button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  box-shadow: none;
}
.button.is-warning.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffdd57;
}
.button.is-warning.is-inverted.is-hovered,
.button.is-warning.is-inverted:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-inverted[disabled],
fieldset[disabled] .button.is-warning.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
  box-shadow: none;
  color: #ffdd57;
}
.button.is-warning.is-loading::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-outlined {
  background-color: transparent;
  border-color: #ffdd57;
  color: #ffdd57;
}
.button.is-warning.is-outlined.is-focused,
.button.is-warning.is-outlined.is-hovered,
.button.is-warning.is-outlined:focus,
.button.is-warning.is-outlined:hover {
  background-color: #ffdd57;
  border-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-outlined.is-loading::after {
  border-color: transparent transparent #ffdd57 #ffdd57;
}
.button.is-warning.is-outlined.is-loading.is-focused::after,
.button.is-warning.is-outlined.is-loading.is-hovered::after,
.button.is-warning.is-outlined.is-loading:focus::after,
.button.is-warning.is-outlined.is-loading:hover::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-outlined[disabled],
fieldset[disabled] .button.is-warning.is-outlined {
  background-color: transparent;
  border-color: #ffdd57;
  box-shadow: none;
  color: #ffdd57;
}
.button.is-warning.is-inverted.is-outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-inverted.is-outlined.is-focused,
.button.is-warning.is-inverted.is-outlined.is-hovered,
.button.is-warning.is-inverted.is-outlined:focus,
.button.is-warning.is-inverted.is-outlined:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffdd57;
}
.button.is-warning.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-warning.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-warning.is-inverted.is-outlined.is-loading:focus::after,
.button.is-warning.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #ffdd57 #ffdd57;
}
.button.is-warning.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-warning.is-inverted.is-outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning.is-light {
  background-color: #fffbeb;
  color: #947600;
}
.button.is-warning.is-light.is-hovered,
.button.is-warning.is-light:hover {
  background-color: #fff8de;
  border-color: transparent;
  color: #947600;
}
.button.is-warning.is-light.is-active,
.button.is-warning.is-light:active {
  background-color: #fff6d1;
  border-color: transparent;
  color: #947600;
}
.button.is-danger {
  background-color: #f14668;
  border-color: transparent;
  color: #fff;
}
.button.is-danger.is-hovered,
.button.is-danger:hover {
  background-color: #f03a5f;
  border-color: transparent;
  color: #fff;
}
.button.is-danger.is-focused,
.button.is-danger:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-danger.is-focused:not(:active),
.button.is-danger:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}
.button.is-danger.is-active,
.button.is-danger:active {
  background-color: #ef2e55;
  border-color: transparent;
  color: #fff;
}
.button.is-danger[disabled],
fieldset[disabled] .button.is-danger {
  background-color: #f14668;
  border-color: transparent;
  box-shadow: none;
}
.button.is-danger.is-inverted {
  background-color: #fff;
  color: #f14668;
}
.button.is-danger.is-inverted.is-hovered,
.button.is-danger.is-inverted:hover {
  background-color: #f2f2f2;
}
.button.is-danger.is-inverted[disabled],
fieldset[disabled] .button.is-danger.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #f14668;
}
.button.is-danger.is-loading::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-danger.is-outlined {
  background-color: transparent;
  border-color: #f14668;
  color: #f14668;
}
.button.is-danger.is-outlined.is-focused,
.button.is-danger.is-outlined.is-hovered,
.button.is-danger.is-outlined:focus,
.button.is-danger.is-outlined:hover {
  background-color: #f14668;
  border-color: #f14668;
  color: #fff;
}
.button.is-danger.is-outlined.is-loading::after {
  border-color: transparent transparent #f14668 #f14668;
}
.button.is-danger.is-outlined.is-loading.is-focused::after,
.button.is-danger.is-outlined.is-loading.is-hovered::after,
.button.is-danger.is-outlined.is-loading:focus::after,
.button.is-danger.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff;
}
.button.is-danger.is-outlined[disabled],
fieldset[disabled] .button.is-danger.is-outlined {
  background-color: transparent;
  border-color: #f14668;
  box-shadow: none;
  color: #f14668;
}
.button.is-danger.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-danger.is-inverted.is-outlined.is-focused,
.button.is-danger.is-inverted.is-outlined.is-hovered,
.button.is-danger.is-inverted.is-outlined:focus,
.button.is-danger.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #f14668;
}
.button.is-danger.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-danger.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-danger.is-inverted.is-outlined.is-loading:focus::after,
.button.is-danger.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #f14668 #f14668;
}
.button.is-danger.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-danger.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-danger.is-light {
  background-color: #feecf0;
  color: #cc0f35;
}
.button.is-danger.is-light.is-hovered,
.button.is-danger.is-light:hover {
  background-color: #fde0e6;
  border-color: transparent;
  color: #cc0f35;
}
.button.is-danger.is-light.is-active,
.button.is-danger.is-light:active {
  background-color: #fcd4dc;
  border-color: transparent;
  color: #cc0f35;
}
.button.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}
.button.is-normal {
  font-size: 1rem;
}
.button.is-medium {
  font-size: 1.25rem;
}
.button.is-large {
  font-size: 1.5rem;
}
.button[disabled],
fieldset[disabled] .button {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}
.button.is-fullwidth {
  display: flex;
  width: 100%;
}
.button.is-loading {
  color: transparent;
  pointer-events: none;
}
.button.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute;
}
.button.is-static {
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  color: #7a7a7a;
  box-shadow: none;
  pointer-events: none;
}
.button.is-rounded {
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dropdown.is-active .dropdown-menu,
.dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
}
.dropdown.is-right .dropdown-menu {
  left: auto;
  right: 0;
}
.dropdown.is-up .dropdown-menu {
  bottom: 100%;
  padding-bottom: 4px;
  padding-top: initial;
  top: auto;
}
.dropdown-menu {
  display: none;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}
.dropdown-menus {
  display: none;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}
.is-small.delete,
.is-small.modal-close {
  height: 12px;
  max-height: 12px;
  max-width: 12px;
  min-height: 12px;
  min-width: 12px;
  width: 12px;
}
.dropdown-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.dropdown-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}
.dropdown-items {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0rem 1rem;
  position: relative;
}
.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.delete,
.modal-close {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(156, 156, 156, 0.062);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 24px;
}
.delete::after,
.delete::before,
.modal-close::after,
.modal-close::before {
  background-color: rgb(48, 48, 48);
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}
.modal,
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}
.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}
.is-clipped {
  overflow: hidden;
}
.modal.is-active {
  display: flex;
}
.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}
.modal-card,
.modal-content {
  margin: 0 20px;
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-card,
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}
.modal-close {
  background: 0 0;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}
.delete::before,
.modal-close::before {
  height: 2px;
  width: 50%;
}
.delete::after,
.modal-close::after {
  height: 50%;
  width: 2px;
}
.delete:focus,
.delete:hover,
.modal-close:focus,
.modal-close:hover {
  background-color: rgba(10, 10, 10, 0.082);
}
.delete:active,
.modal-close:active {
  background-color: rgba(10, 10, 10, 0.082);
}
a.dropdown-item,
button.dropdown-item {
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}
a.dropdown-item:hover,
button.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a;
}
a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: #3273dc;
  color: #fff;
}
.dropdown-divider {
  background-color: #ededed;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}
