html {
  height: 100%;
  width: 100%;
  background-color: #e2e8f0;
}
body {
  height: 100%;
  width: 100%;
}
.logo-color {
  color: #282828 !important;
}
.bglogo-color {
  background-color: #282828 !important;
}
.z-40x {
  z-index: 40 !important;
}
.z-10x {
  z-index: 10 !important;
}
.d-spec {
  min-width: min-content !important;
}
.color-4a {
  color: #4a4a4a;
}
.color-bg {
  color: #e2e8f0;
}
.color-bgs {
  color: #b5bbc4;
}
.bg-e6e6e6 {
  background-color: #eff0f06b;
}
.bg-trt {
  background-color: #e2e8f0 !important;
}
.b612 {
  font-family: 'B612', Arial, Helvetica, sans-serif;
}
