html {
  height: 100%;
  width: 100%;
  background-color: #e2e8f0;
}
a,
p,
span {
  font-size: 14px;
  /* color: #2d3748; */
}
.parent_hover_under:hover span {
  text-decoration: underline;
}
.rate {
  float: left;
  height: 32px;
}
.rate:not(:checked) > input {
  position: absolute;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #e2e8f0;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ff9900;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #ffbb00e8;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #ffae00;
}

table td,
table th {
  border-width: 1px;
  border-color: #004e662a;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}
tr > :first-child {
  background-color: #e2e8f0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /* font-weight: 400 !important; */
}
.logo-color {
  color: #2d3748 !important;
}
.bglogo-color {
  background-color: #282828 !important;
}
.z-40x {
  z-index: 40 !important;
}
.z-10x {
  z-index: 10 !important;
}
.d-spec {
  min-width: min-content !important;
}
.color-4a {
  color: #4a4a4a;
}
.color-bg {
  color: #e2e8f0 !important;
}
.color-bgs {
  color: #b5bbc4;
}
.bg-e6e6e6 {
  background-color: #eff0f06b;
}
.bg-e6e6e6s {
  background-color: #838383c5;
}
.bg-trt {
  background-color: #e2e8f0 !important;
}
.b612 {
  font-family: 'B612', Arial, Helvetica, sans-serif;
}
.mb4px {
  margin-bottom: 2px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: rgb(216, 216, 216);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(194, 194, 194);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #004e66;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
