[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: 'loading...';
}
.bg-drop {
  background-color: #e6e6e6;
}
body,
html {
  height: 100%;
  width: 100%;
}
.black {
  color: black;
}
.framedisabled {
  pointer-events: none;
  opacity: 0.5;
}
.wordbreaking {
  overflow-wrap: break-word !important;
}
.twoline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.oneline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.-mt65 {
  margin-top: -1.6rem;
}
.pr0 {
  padding-right: 0;
}
.tout {
  width: 100%;
  transition: transform ease-out 0.1s;
}
.drawer {
  display: block;
  transition: transform ease-out 0.3s;
}
.drawer.is-open {
  transform: translateX(100%);
  transition: transform ease-out 0.3s;
}
.drawer.is-hid {
  transform: translateX(0);
  transition: transform ease-out 0.3s;
}
.none {
  display: none;
}
.znegatif {
  z-index: -999;
}
.show {
  display: block;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none;
    outline: none;
    background-color: #e2e8f0;
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #f0ebe2;
    z-index: 20;
    /* margin-top: -20px; */
  }
  .h4px {
    height: 4px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    border-radius: 99999px;
    height: 16px;
    z-index: 20;
    cursor: pointer;
    background: #004e66;
    /* box-shadow: -80px 0 0 80px #43e5f7; */
  }
}

.d-actlist .actlist {
  color: #004e66dc !important;
}
.bestp {
  display: none !important;
}
.d-bestp:hover .bestp {
  display: block !important;
}
input[type='range']::-moz-range-progress {
  background-color: #43e5f7;
}
input[type='range']::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type='range']::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type='range']::-ms-fill-upper {
  background-color: #9a905d;
}
@media screen and (max-width: 767px) {
  .none {
    display: none;
  }
  .show {
    display: none;
  }
}
.threeline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.m-0-auto {
  margin: 0 auto !important;
}
.w-fit {
  width: intrinsic; /* Safari/WebKit utilisent un nom non-standard */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content;
}
.couvmod .leli {
  right: 0rem;
}
.center {
  margin: 0 auto;
}
.w-64x {
  width: 300px !important;
}
.homy {
  min-width: 116px;
}
.h-fit {
  height: fit-content;
}
.py-15 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.checked {
  color: #ffc700;
}
.py-08 {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.py-01 {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}
.py-01x {
  padding-top: 0rem !important;
  padding-bottom: 0.15rem !important;
}
input[type='search']::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}
.color-008489 {
  color: #008489;
}
.bg-dot {
  background-color: rgba(0, 0, 0, 0.308);
}
.scale {
  transform: scale(0.8);
}
.scaless {
  transform: scale(0.95);
}
.scale12 {
  transform: scale(0.5);
}
.scalebig {
  transform: scale(1.4);
}
.subspan {
  position: relative;
  left: -0.15rem;
}
.ffoot {
  width: 240px;
  position: relative;
  top: 3rem;
  padding-bottom: 1.5rem;
}
.stickytop {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
.top-1x {
  top: 1rem;
}
.top-12x {
  top: 1.2rem !important;
}
.top-05x {
  top: 0.5rem;
}
.top-02x {
  top: 0.2rem;
}
.-top-02x {
  top: -0.08rem;
}
.top-01x {
  top: 0.07rem;
}
.top-03x {
  top: 0.3rem;
}
.z-10000 {
  z-index: 10000;
}
.z-5000 {
  z-index: 5000 !important;
}
.top-08x {
  top: 0.8rem;
}
.bottom-1x {
  bottom: 1rem;
}
.top-2x {
  top: 2rem;
}
.bottom-2x {
  bottom: 2rem;
}
.pbottom-2x {
  padding-bottom: 2rem;
}
.pbottom-1x {
  padding-bottom: 1rem;
}
.pbottom-05x {
  padding-bottom: 0.5rem;
}
.bb {
  margin-left: -0.09rem;
}
.scroll-1400 {
  min-height: 1400px !important;
}
.bbs {
  margin-left: 0.7rem;
}
.as-bur {
  padding-top: 0rem;
  padding-left: 1.93rem;
}
.as-b0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.px-7 {
  padding-left: 1.85rem !important;
  padding-right: 1.85rem !important;
}
.max1260 {
  max-width: 1500px !important;
}
.max1260s {
  max-width: 1500px !important;
}
.max1220 {
  max-width: 1220px !important;
}
.max1220s {
  width: 1220px !important;
}
.ax-b0 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.hover-008489:hover .makeme-008489 {
  color: #008489;
}
.hover-004e66:hover {
  color: #004e66 !important;
}
.hover-004e66:hover .makeme-004e66 {
  color: #004e66 !important;
}
.hover-008489:hover .makeme-red {
  color: #ee3838;
}
.color-6d6d6d {
  color: #acacac;
}
.color-light {
  color: #a7a7a7;
}
.color-6d6d6ddd {
  color: #5e5e5e;
}
.pb-1zz {
  padding-bottom: 0.15rem;
}
.hover-8d8d8d:hover {
  color: #757575;
}
.color-ff385c {
  color: #ff385c;
}
.border-tr {
  border-color: transparent;
}
.col-tr {
  color: transparent;
}
.no-outline {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.no-outlines {
  outline: 0px solid transparent !important;
  outline-offset: 0px !important;
}
.button.is-lights {
  background-color: transparent;
  border-color: transparent;
}
.bg-black-trs {
  background-color: transparent !important;
  border-color: transparent !important;
}
.mb-768 {
  margin-bottom: 628px !important;
}
.h-32x {
  height: 120px !important;
}
.-mt-01 {
  margin-top: -0.08rem !important;
}
.-mt-01x {
  margin-top: -0.05rem !important;
}
.-mt-012x {
  margin-top: -0.14rem !important;
}
.-mb-012 {
  margin-bottom: -0.04rem !important;
}
.button.is-lights.is-hovered,
.button.is-lights:hover {
  background-color: rgba(245, 245, 245, 0.582);
  border-color: transparent;
}
.bg-black-trs.is-hovered,
.bg-black-trs:hover {
  background-color: rgba(0, 0, 0, 0.041) !important;
}
.border-6d6d6d {
  border-color: #555555;
}
.color-363636 {
  color: #777777;
}
.color-363636f {
  color: #525252;
}
.hover-008489:hover {
  color: #008489bd;
}
.hover-white:hover {
  color: #fff;
}
.col-trans {
  color: transparent;
}
.h-14 {
  height: 3.5rem;
}
.h-13 {
  height: 3.25rem;
}
.active-white:active {
  color: #fff;
}
.bghover-008489:hover {
  background-color: #008489bd;
}
.bghover-008489hh:hover {
  background-color: #008489dc;
}
.bghover-008489ok:hover {
  background-color: #0084891f;
}
.bghover-008489okk:hover {
  background-color: #00848907;
}
.has-16x16 {
  height: 16px;
  width: 16px;
}
.bghover-trans:hover {
  background-color: transparent;
}
.btn-search:hover .color-008489 {
  color: #008489bd;
}
.my-shadow {
  --tw-shadow: 0 0px 10px -1px rgba(0, 0, 0, 0.1),
    0 2px 8px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn-008489 {
  background-color: #008489;
}
.btn-004e66:hover,
.btn-004e66:focus,
.btn-004e66:active {
  background-color: #003b4d !important;
}
.h460 {
  height: 480px;
}
.-mt34px {
  margin-top: -34px !important;
}

.h449 {
  height: 449px !important;
}
.h447 {
  height: 180px !important;
}

.h416 {
  height: 416px !important;
}
.h416a {
  height: 416.5px !important;
}
.h41x {
  height: 400px !important;
}
.gotop:hover {
  --tw-shadow: 0 0px 10px -1px rgba(0, 0, 0, 0.1),
    0 2px 8px -1px rgba(0, 0, 0, 0.06) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.btn-004e66 {
  background-color: #004e66 !important;
}
.mt-205 {
  margin-top: 0.625rem !important;
}
.mt-105 {
  margin-top: 0.4rem !important;
}
.bg-004e66 {
  background-color: rgb(0, 78, 102);
}
.btn-004e66s {
  background-color: rgba(0, 78, 102, 0.089);
}
.color-004e66 {
  color: #004e66 !important;
}
.bg-color-008489 {
  background-color: #008489;
}
.bg-color-008489p {
  background-color: rgba(0, 133, 138, 0.8);
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-008489light {
  background-color: rgb(235, 235, 235);
}
.ffto {
  font-weight: 500;
}
.color-white {
  color: rgb(255, 255, 255) !important;
}
.z-30x {
  z-index: 999 !important;
}
.pb-11 {
  padding-bottom: 0.125rem;
}
.bg-color-008489ok {
  background-color: #0084895d;
}
.bg-color-008489oka {
  background-color: #00848917;
}
.bg-color-008489oks {
  background-color: #0084898c;
}
.justify-center {
  justify-content: center;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: end;
}
.align-self-end {
  align-self: flex-end;
}
.align-center {
  align-items: center;
}
.shadown {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
  -moz-box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.418);
}
.hover-underchild:hover .underline-meparent {
  text-decoration: underline;
}
.max360px {
  max-width: 360px !important;
}
/* .bg-white {
  background-color: rgb(0, 0, 0) !important;
}
.bg-whites {
  background-color: rgb(0, 0, 0) !important;
} */
.w180 {
  width: 240px !important;
}
.w180min {
  min-width: 240px !important;
}
.w180max {
  max-width: 280px !important;
}
.w360 {
  width: 360px !important;
}
.w2x320 {
  width: 300px;
}
.h2x320 {
  height: 420px;
}
.is-1 {
  width: 8.33333%;
}
.is-half {
  width: 50%;
}
.is-all {
  width: 100%;
}
.w320 {
  width: 300px;
}
.h320 {
  height: 420px;
}
.h160 {
  height: 210px;
}
.h160xx {
  height: 120px;
}
.h160max {
  max-height: 428px;
}
.used-img img {
  height: 20px;
  width: 20px;
}
.w180y {
  min-width: 480px !important;
}
.w180t {
  width: 220px !important;
}
.ml-4i {
  margin-left: 1.5rem !important;
}
.w180e {
  min-width: 280px;
}
.w180ee {
  min-width: 280px !important;
}
.m-w180e {
  margin-left: 235px !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.w-18 {
  width: 4.5rem;
}
.h-fulls {
  height: 100% !important;
}
.bg-black-tr {
  background-color: rgba(0, 0, 0, 0.74) !important;
}
.bg-black-tre {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.w180s {
  min-width: 360px;
}
.w180ss {
  min-width: 360px !important;
}
.w180sst {
  width: 280px !important;
}
.normalfont {
  font-weight: normal !important;
}
span {
  color: #282828;
}
.nav-desc {
  margin: 0px;
  padding: 0px;
}
.nav-desc .tiret {
  display: block;
  padding: 4.5px 5px 7px 5px;
  border-bottom: 2px solid transparent;
}
.nav-desc a:not(.tiret) {
  display: block;
  padding: 5px 10px 7px 10px;
  border-bottom: 2px solid transparent;
}
.color-gray {
  color: #3a3a3a;
}
.flex.is-centered {
  justify-content: center;
}
.tagsug::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}
.nav-desc .ant:not(.except):hover {
  color: #004e66;
  border-color: #004e66;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav-desc .anty:hover {
  color: #004e66;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav-desc .list-active {
  color: #008489;
  border-color: #008489;
}
.current-desc {
  color: #008489;
  border-color: #008489;
}
.scrollnone {
  scrollbar-width: none !important;
}
.centered-element {
  height: fit-content;
  width: fit-content;
  margin: 0 auto !important;
}
.vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-centere {
  position: relative;
  top: 100%;
}
.w-16px {
  width: 64px !important;
}
.vertical-centers {
  position: relative !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.both-centers {
  position: relative;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}
.h-centers {
  position: relative;
  left: 50% !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}
.right-5px {
  right: 0.5rem !important;
}
.pos-right {
  float: right;
}
.jj-self {
  justify-self: end;
}
.size-3 {
  font-size: 3px;
}
.size-13 {
  font-size: 13px !important;
}
.size-135 {
  font-size: 13.5px !important;
}
.size-125 {
  font-size: 12.5px !important;
}
.clbo {
  clear: both;
}
.clickable {
  cursor: pointer;
}

.size-2 {
  font-size: 2px;
}

.underline-hover:hover {
  text-decoration: underline;
}
.size-4 {
  font-size: 4px;
}
.dropdown-items {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}
.size-6 {
  font-size: 6px;
}
.size-7 {
  font-size: 7px;
}
.size-8 {
  font-size: 8px;
}
.size-10 {
  font-size: 10px;
}
.size-12 {
  font-size: 12px !important;
}
.size-14 {
  font-size: 14px !important;
}
.size-145 {
  font-size: 14.5px !important;
}
.size-15 {
  font-size: 15px !important;
}
.size-16 {
  font-size: 16px !important;
}
.size-17 {
  font-size: 17px !important;
}
.size-18 {
  font-size: 18px !important;
}
.size-19 {
  font-size: 19px !important;
}
.size-20 {
  font-size: 20px !important;
}
.size-22 {
  font-size: 22px !important;
}
.size-24 {
  font-size: 24px !important;
}
.size-26 {
  font-size: 26px;
}
.size-28 {
  font-size: 28px;
}
.size-30 {
  font-size: 30px;
}
.size-32 {
  font-size: 32px;
}
.size-34 {
  font-size: 34px;
}
.size-36 {
  font-size: 36px;
}
.size-38 {
  font-size: 38px;
}
.size-40 {
  font-size: 40px;
}
.size-64 {
  font-size: 64px;
}
.size-96 {
  font-size: 96px;
}
textarea {
  resize: none;
  background: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.noscroll::-webkit-scrollbar {
  position: absolute;
  width: 0px; /* Remove scrollbar space */
  border-radius: 10px;
  animation: 0.2s appear;
  background: transparent; /* Optional: just make scrollbar invisible */
}
.size-128 {
  font-size: 128px;
}
.size-11 {
  font-size: 11px !important;
}
.w-fits {
  width: fit-content !important;
}
.w512 {
  width: 360px;
}
.h-6x {
  height: 2rem;
}
.w-8x {
  width: 2.25rem;
}

.size-1105 {
  font-size: 11.5px;
}
.size-110 {
  font-size: 110px;
}
.-ml-145 {
  margin-left: -3rem;
}
.-ml-1454 {
  margin-left: -3rem;
}
.-ml-1456 {
  margin-left: -3.5rem;
}
.-ml-14566 {
  margin-top: -0.1rem;
  margin-left: 6rem;
}
.size-32 {
  font-size: 32px;
}
.mr-5ok {
  margin-right: 1.25rem;
}
.mr-05 {
  margin-right: 0.125rem !important;
}
.active-lang {
  border-left: 4px solid #008489;
}
.unactive-lang {
  border-left: 4px solid transparent;
}
.border-008489 {
  border-color: #008489;
}
.border-004e66 {
  border-color: #004e66 !important;
}
.pl5px {
  margin-left: 5px;
}
.aside::-webkit-scrollbar {
  position: absolute;
  width: 6px; /* Remove scrollbar space */
  border-radius: 10px;
  animation: 0.2s appear;
  background: transparent; /* Optional: just make scrollbar invisible */
}
.asider::-webkit-scrollbar {
  position: absolute;
  width: 0px; /* Remove scrollbar space */
  border-radius: 10px;
  animation: 0.2s appear;
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.aside::-webkit-scrollbar-thumb {
  position: absolute;
  background: transparent;
}
.aside:hover::-webkit-scrollbar-thumb {
  position: absolute;
  background: #dddddd;
}

.asides::-webkit-scrollbar {
  position: absolute;
  width: 2px !important; /* Remove scrollbar space */
  border-radius: 99999px !important;
  animation: 0.2s appear;
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.asides::-webkit-scrollbar-thumb {
  width: 2px !important;
  background: transparent;
}
.asides:hover::-webkit-scrollbar-thumb {
  animation: 0.5s appearZ;
  /* height: 2px !important; */
  border-radius: 6px !important;
  background: #888;
}
.asides::-webkit-scrollbar-thumb:hover {
  height: 2px !important;
  border-radius: 6px !important;
  background: #888 !important;
}
@media screen and (max-width: 450px) {
  .nexttag {
    display: none;
  }
}
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}
.fast-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
.faste-spin {
  -webkit-animation: fa-spin 1.5s infinite linear;
  animation: fa-spin 1.5s infinite linear;
}
.fastest-spin {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}

.milogo {
  position: absolute;
}
@media screen and (max-width: 500px) {
  .milogo {
    display: none;
  }
  .-ml-1454 {
    margin-left: -1.8rem;
  }
  .-ml-14566 {
    margin-left: 2.3rem;
  }
  .logo-svg {
    transform: scale(0.23);
  }
  .cc-header {
    margin-left: 0rem;
  }
}
.size-165 {
  font-size: 16.35px;
}
@media screen and (max-width: 480px) {
  .tatapp {
    padding: 0;
  }
  .as-bur {
    margin-left: 0;
  }
}
.maxwidth {
  max-width: 280px;
}
.over {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
input::placeholder {
  font-size: 14.4px;
  font-weight: normal;
  color: rgba(44, 44, 44, 0.582) !important;
}
@media screen and (max-width: 420px) {
  .yyo {
    display: none;
  }
  .yosearch {
    position: relative;
    left: -1rem;
  }
}
@media screen and (max-width: 1024px) {
  .filt {
    width: 33.33%;
  }
}
@media screen and (max-width: 768px) {
  .filt {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .filt {
    width: 50%;
  }
}
.overflow-x-autos {
  overflow-x: auto !important;
}
.overflow-x-hiddens {
  overflow-x: hidden !important;
}
@-moz-document url-prefix() {
  .overflow-x-autos {
    overflow-x: auto !important;
  }
  .overflow-x-hiddens {
    overflow-x: auto !important;
  }
  .asider::-webkit-scrollbar {
    position: absolute;
    width: 0px; /* Remove scrollbar space */
    border-radius: 10px;
    animation: 0.2s appear;
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .scrollnone {
    scrollbar-width: none !important;
  }
  .scrollnonemoz {
    scrollbar-width: none !important;
  }
  .xxx::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important; /* make scrollbar transparent */
  }
  .firefox {
    padding-bottom: 4rem;
    z-index: 10;
  }
  .as-bur {
    margin-left: 2rem;
  }
  .drop-not {
    margin-left: -12rem;
  }
  .plus50px {
    padding-bottom: 0.5rem;
  }
  @media screen and (max-width: 390px) {
    .drop-not {
      margin-left: -6rem;
    }
  }
  @media screen and (max-width: 480px) {
    .as-bur {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    .btn-search {
      margin-left: -2rem;
    }
    .llchoice {
      display: none;
    }
  }
}
.h-40max {
  max-height: 160px !important;
}
.h-450 {
  height: 280px !important;
}
.h-240 {
  height: 240px !important;
}
.appearzf {
  animation: 2s appearzf !important;
}
.appearxh {
  animation: 0.2s appearxh !important;
}
.appearxhx {
  animation: 0.3s appearxh !important;
}
.appearzb {
  animation: 0.2s appearzb !important;
}
.appearxhz {
  animation: 0.2s appearxhz !important;
}
/* .appearzb {
  animation: 0.2s appearzb !important;
} */
@keyframes appearzf {
  0% {
    transform: translateZ(-10px);
  }
}
@keyframes appearxh {
  0% {
    transform: translateX(-10px);
  }
}
@keyframes appearxhz {
  0% {
    transform: translateX(10px);
  }
}
@keyframes appearzb {
  0% {
    transform: translateZ(10px);
  }
}
.appearyh {
  animation: 0.3s appearyh !important;
}
.appearyb {
  animation: 0.3s appearyb !important;
}
.hiddenmox {
  display: none !important;
}
.appearZ {
  animation: 0.5s appearZ;
}
@keyframes appearyh {
  0% {
    transform: translateY(-10px);
  }
}
@keyframes appearZ {
  0% {
    opacity: 0;
  }
}
@keyframes appearyb {
  0% {
    transform: translateY(10px);
  }
}
